@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@100;400;600;800;900&display=swap');

:root {
    
    /* Colors: */
    --darkgray: #313641;    
    --blue: #023E57;
    --blue-dark: #023E57;
    --main-red: #BF353E;
    --light-red: #FEF1EF;    

    /* Font/text values */
    --font-serif: PT serif;
    --font-family-poppins: Poppins;
    --font-style-normal: normal;
    --font-weight-300: 300px;
    --font-weight-medium: medium;
    --font-size-18: 18px;
    --character-spacing-0: 0px;
    --line-spacing-35: 35px;
}

    /* Character Styles */
    .poppins-regular {
    font-family: var(--font-family-poppins);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-35);
    letter-spacing: var(--character-spacing-0);
    color: var(--blue-dark);
    }
    .poppins-medium {
    font-family: var(--font-family-poppins);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-35);
    letter-spacing: var(--character-spacing-0);
    color: var(--blue-dark);
    }


    #loading{	 
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        /*background: #000 url("") no-repeat center;*/
        z-index: 999;	
        
    }
    
    video {
        width: 50%;
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    
    
    @media screen and (max-width: 400px){

        #loading{	         
        top: 0; 
        
    }
        video {
        width: 100%;
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    }

/* over right bootstarp css */
button.navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/theme/hambruger.svg')!important;
}

/* temporary classes */

.ml-auto {
    margin-left:auto!important;
}

.line {
    width: 200px;
    height: 5px;
    background-color: var(--red);
}


/* predefine class */

body{
    box-sizing: border-box;
    font-family: var(--font-family-poppins);    
}

.box-shadow {
    box-shadow: 0px 3px 36px #0000000d;
}

.padding-top-1 {padding-top: 10%;}

.padding-top-2 {padding-top: 20%;}

.padding-top-3 {padding-top: 30%;}

.padding-top-4 {padding-top: 40%;}

.padding-top-5 {padding-top: 50%;}

.margin-auto {
    margin: 1rem;
}

.carousel-control-prev-icon {
    background-image: url(../img/theme/previous-icon.svg)!important;
}

.carousel-control-next-icon {
    background-image: url(../img/theme/next-icon.svg)!important;
}



/* navigation */

    .navbar {
        padding: 1rem;
        background-color: #fff;

        .desktop-logo { 
            width: 100%;
            max-width: 150px;
            min-width: 100px;    
         }
     
         .mobile-logo {
             display: none;
             width: 100%;
             max-width: 150px;
             min-width: 100px;
             height: 100%;
             max-height: 150px;
             min-height: 80px;
         }
     
         li {
             padding-left: 1.8rem;
         }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--main-red);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
        background-image: url(../img/theme/tech-white.svg);
        background-size: 5rem;
        background-position: bottom 3rem right 3rem;
        background-repeat: no-repeat;

        a {
            padding-right: 18px; 
            text-decoration: none;
            font-size: 25px;
            color: #fff;
            display: block;
            transition: 0.3s;
            text-align: right;

            img {
                padding-right: 18px;
            }

          }

        li {
            padding-right: 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
            text-align: right; 
        }

      }
      
      .sidenav 
            
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 560px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

@media screen and (max-width : 560px ){   
    .navbar {
        padding: 0 1rem;  
        
        .desktop-logo {
            display: none;
        }
    
        .mobile-logo {
            display: inherit;
        }
    }
    
}

/* section-one */

.section-one {
    
       overflow: hidden; 
       height: 105vh;

    .col-12 {
        padding-top: 30%;
    }

    svg {
        position: absolute;
        z-index: -1;
        right: 10%;
        top: 15%;
        width: 50%;       
        
    }
    
    .content {
        width: 80%;
        margin: 20% auto 0 auto;        
        position: relative;
        z-index: 1;
        
        

        .big-title{
            color: var(--blue-dark);                  
            font-size: 2.5rem;   
            
            &::after {
                content: '';
                background-color: var(--main-red);
                width: 200px;
                height: 8px;
                position: absolute;
                display: block;                        
            }
        }

        .dynamic::after{
            content:'';
            animation: scale 9s ease-in infinite;
            color: var(--main-red);
            font-weight: 600;
        }
        
        @keyframes scale {
            0% {content:'Designing';}
            20% {content:'Development';}
            40% {content:'Consultation';}
            60% {content:'Executition';}
            80% {content:'Implementation';}
            100% {content:'Support';}
            
        }

        .btn {
            color :#fff;
            font-size: 1.2rem;
            padding: 0.5rem 1.2rem;
            background-color: var(--main-red);
            border-radius: 0;
            position: relative; 
            border: none;
            z-index: 1;

            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #313641;
                top:0;
                left: 0;
                z-index: -1;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 200ms ease-in;
                
            }

            &:hover::after{
                transform: scaleX(1);
                transform-origin: left;
            }


        }
    }    
}   

@media screen and (max-width : 1440px ){
    .section-one{
        height: 90vh;
         .content{

            .big-title{
                 font-size: 1.8rem;            
                 }
         }
     }
  
 }

 @media screen and (max-width : 768px ){ 

     .section-one{
        height: 70vh;
             svg {
                 position: absolute;
                 z-index: -1;
                 right: 2%;
                 top: 15%;
                 width: 60%;
             }
             
             .content{
                 width: 90%;
                 margin: 10rem auto 0 auto;        
                 position: relative;
                 z-index: 1;

                 .big-title{
                         font-size: 1.5rem;
                         }
             }
         
     } 
 }
 
 @media screen and (max-width : 450px ){ 
     
     .section-one {
         margin-top: 15%;         

         svg {
            position: absolute;
            z-index: -1;
            left: 0%;
            top: 15%;
            width: 100%;
        }

        .content {
            width: 75%;
            margin: 0 auto;
            margin-top:calc(90% + 1rem); 
            position: relative;
            z-index: 1;
            height: 100vh;

            .big-title{
                font-size: 1.5rem!important;
                text-align: center;
                &::after {
                    content: '';                
                    display: none!important;                        
                }
            }
        }

       
         
     }      
 
 }

 
 @media screen and (max-width : 320px ){ 

 
     svg {
         position: absolute;
         z-index: -1;
         left: 0%;
         top: 10%;
         width: 100%;
     }
 
     .content {
         width: 75%;
         margin: 0 auto;
         margin-top:calc(90% + 1rem); 
         position: relative;
         z-index: 1;
         height: 100vh;
     }
 
 }


/* section-services */








/** section-three **/

.section-three{
    background-color: var(--darkgray);    
    position: relative;
    height: 100%;
    min-height: 700px;
    max-height: 860px;
    overflow: hidden;


    .brain-illustration {
        background-image: url(../img/theme/brain-line.svg);
        background-size: 100%;
        background-position: bottom left;
        background-repeat: no-repeat;
        position: absolute;        
        width: 110%;
        height: 100%;
        bottom: 2%;
        left: -1rem;
        
    }

    .client {
        color: var(--main-red);
        position: relative;
        padding-top:5rem ;

        &::after {
            content: '';
            background-color: var(--main-red);
            width: 200px;
            height: 5px;
            position: absolute;
            display: block; 
            left: -3rem;
            bottom: -1rem;
        }
    }

    .client-side {
        
        height: 350px;
        width: 350px;
        position: relative;

        .client-bg {
            width: 100%;
            position: absolute;                    
        }

        .top-img {
            top: 5rem;            
        }
    }
    .testimonials {
        padding: 4rem 7rem;
        text-align: center;
        color: var(--light-red);
        font-family: Chivo;
        line-height: 2rem;

        .avatar {
            border-radius: 50%;
            padding: .5rem 0;
            width: 100%;
            max-width: 70px;            
        }
        .client-name, .client-pro {
            color: var(--main-red);
            font-size: 1.2rem;            
        }

        .client-name {
            font-weight: 600;
        }

        .client-pro {
            font-weight: normal;
        }

    }
   
}


    

@media screen and (max-width: 768px){
    

    .section-three{        
        height: 100%;
        min-height: 400px;
        max-height: 600px;
        overflow: hidden; 
        
        .brain-illustration {
            display: none;            
        }

        .client {
            text-align: center;
            line-height: 1rem;
            padding-top: 0;
            &::after {
                content: '';
                background-color: var(--main-red);
                width: 100px;
                height: 3px;
                position: absolute;
                display: block; 
                left: 5rem;
            }

            
        }

        .client-side {
            
            height: 250px;
            width: 250px;
            position: relative;

            .client-bg {
                width: 90%;
                opacity: 0.9;           
            }

            .top-img {
                display: none;
               }
        }

        .posti {
            position: absolute;
            width: 70%;
            margin: 0 15%;
        }

     .carousel-control-prev, .carousel-control-next {
         display: none;
     }   

     .testimonials {
        padding: 5rem 1rem;
        text-align: center;        
        font-family: Chivo;
        
        p{ line-height: 1.5rem;}
     }


    }
}

@media screen and (max-width: 425px){
    .section-three {
        .posti {
            position: absolute;
            width: 100%;
            margin: auto;
        }
    }
}


.section-pro {
    background-color: var(--light-red);
    position: relative;    
    overflow:hidden;
   


    .left-circle, .right-circle {
        position: absolute;        
        border-radius: 50%;
        opacity: 0.3;                
    }
    .left-circle {
        height: 15rem;
        width: 15rem;
        top: -5rem;
        left: -3rem;
        background-image: linear-gradient(#BF353E, #F22060);
        
        }

        .right-circle {
            height: 25rem;
            width: 25rem;
            bottom: -10rem;
            right: -4rem;
            background-image: linear-gradient(#040F26, #023E57);
            
            }
            
    .project-title {
        text-align: center;
        color: var(--blue);
        font-family: 'Poppins';
        font-weight: 600;
        position: relative;
        width: 20ch;
        margin: auto;

        &::after {
            content: '';
            background-color: var(--main-red);
            width: 200px;
            height: 8px;
            position: absolute;
            display: block;
            left: 0;
        }
    }

    .rela {
        border: 1px solid rgba(0,0,0, 0.25);
        position: relative;        
        width: 100%;
        height: 100%;
        max-width: 400px;
        min-width: 350px;
        max-height: 420px;
        min-height: 370px;
        overflow: hidden;
        background-color: #FDFDFD;
        background-image: url(../img/theme/logo-transparent.svg);
        background-repeat: no-repeat;
        background-position: bottom right -10rem;


        &-logo, &-project {
            position: absolute;            
            width: 100%;            
        }

        &-logo {
            max-width: 150px;
            min-width: 100px;
            left: 2rem;
            top: 2rem;
            height: 100%;
            max-height: 50px;
            object-fit: contain;
        }

        &-project {
            max-width: 300px;
            min-width: 200px;
            bottom: -7rem;
            left: 4rem;
        }
    }

    .custom-card {
        position: relative;
        padding: 3rem;
        width: 100%;
        max-width: 900px;
        min-width: 850px;

    .read-more {
        background-color: var(--main-red);
        color: #fff;
        border-radius: 50px;
        position: absolute;
        bottom: 5%;
        right: 5%;        
    }

    .date{
        padding-top: 1rem;
        width: 60%;
    }

    .card-title {
        padding-top: 1rem;
        width: 60%;
        font-family: Poppins;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.8rem;
    }

    .card-text {
        line-height: 1.8rem;
        padding-top: 1rem;
        font-family: 'PT san';
        
    }
    }

}


@media screen and (max-width: 1440px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: 1150px;
            min-width: 1000px;

        .custom-card {
            width: 100%;
            max-width: 800px;
            min-width: 700px;

            .card-title {
                width: 100%;
            }

            .date{
                padding: 0;
            }
        }

    }
    }
}

@media screen and (max-width: 1280px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: 1000px;
            min-width: 900px;

        .custom-card {
            width: 100%;
            max-width: 600px;
            min-width: 540px;
            padding: 2rem;              
        }
    }
    }
}

@media screen and (max-width: 1024px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: 850px;
            min-width: 800px;

            .rela {            
                width: 97%;
                max-width: inherit;
                min-width: initial;
                box-sizing: border-box;
                left: 12px;

                .rela-project {
                    left: 27%;
                }
            } 
            
            .custom-card{
                width: 100%;
                max-width: 760px;
                min-width: 740px;
            }
        }
    }
}


@media screen and (max-width: 768px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: 650px;
            min-width: 610px;

            .rela {            
                width: 96%;            
                left: 12px;

                .rela-project {
                    left: 20%;
                }
            }          
            .custom-card{
                width: 100%;
                max-width: 660px;
                min-width: 580px;
            }   
        }
        button.carousel-control-prev, .carousel-control-next  {
            display: none;
        }
    }
}

@media screen and (max-width: 650px){
    .section-pro{

        .card {
            border-radius: 25px;
            margin: 0!important;
        }

        .project-title{
            padding-top: 2rem!important;
            padding-bottom: 0!important;
        }

        .sizing{
            width: 100%;
            max-width: 550px;
            min-width: 500px;
            


            .rela {            
                width: 96%;            
                left: 12px;

                .rela-project {
                    left: 20%;
                }
            }           
            .custom-card{
                width: 100%;                
                height: 100%;
                max-width: 630px;
                min-width: 480px;
                max-height: 380px;    
                min-height: 340px;

                .date{
                    margin: 0;
                }

                .card-title{
                    font-size: 1.2rem;
                    line-height: 1.5rem;                    
                }

                .card-text{
                    line-height: 1.5rem;
                    padding-top: .5rem;
                }
            }   
        }
    }
}

@media screen and (max-width: 500px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: inherit;
            min-width: inherit;

            .rela {            
                display: none;
            } 
            .custom-card{
                width: 100%;                
                height: 100%;
                max-width: 450px;
                min-width: 380px;
                max-height: 450px;
                min-height: 420px;

                .date{
                    margin: 0;
                }

                .card-title{
                    font-size: 1rem;
                    line-height: 1.5rem;                    
                }

                .card-text{
                    line-height: 1.5rem;
                    padding-top: .5rem;
                }

                .read-more {
                    left: 7%;                    
                    width: 100%;
                    max-width: 120px;
                }
                
            } 
        }  
    }
}

@media screen and (max-width: 375px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: inherit;
            min-width: inherit;
             
            .custom-card{
                width: 100%;                
                height: 100%;
                max-width: 320px;
                min-width: 290px;
                max-height: 500px;
                min-height: 480px;

                .date{
                    margin: 0;
                }

                .card-title{
                    font-size: 1rem;
                    line-height: 1.2rem;                    
                }

                .card-text{
                    line-height: 1.5rem;
                    padding-top: .5rem;
                }

                .read-more {
                    left: 7%;                    
                    width: 100%;
                    max-width: 120px;
                }
                
            } 
        }  
    }
}

@media screen and (max-width: 360px){
    .section-pro{

        .sizing{
            width: 100%;
            max-width: inherit;
            min-width: inherit;
            
            .custom-card{
                width: 100%;                
                height: 100%;
                max-width: 320px;
                min-width: 290px;
                max-height: 500px;
                min-height: 480px;

                .date{
                    margin: 0;
                }

                .card-title{
                    font-size: 1rem;
                    line-height: 1.2rem;                    
                }

                .card-text{
                    line-height: 1.5rem;
                    padding-top: .5rem;
                }

                .read-more {
                    left: 7%;                    
                    width: 100%;
                    max-width: 120px;
                }
                
            } 
        }  
    }
}

    .animate__animated.animate__bounce {
    --animate-duration: 1s;
    --animate-delay: 1s;
    animation-delay: calc(var(--animate-delay)*11);
  }


  .service-content{
    background-image: url(/img/theme/circle.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: bottom right -7%;

    .row {
        div{
            padding: 1% 6%;
          }
    }

      .service-titel
      {
        text-align: center;
        padding: 2rem;
        font-family: var(--font-family-poppins);
        font-weight: 600;
        color: var(--blue);
      }
      
      .server-heading {
        font-family: var(--font-family-poppins);
        font-size: 1.2rem;
        color: var(--blue);
      }

     

      ul{
          font-family:var(--font-serif);
          font-size: 1rem;
      }

  }

  @media screen and (max-width: 768px){
    .service-img{
        display: none;
    }
  }

  @media screen and (max-width: 420px){

  .service-content {
      background-position: top left;
      background-size: 150px;
    }

  }
          
         .content-blog{
            background-image: url(/img/theme/tech-lines.svg);
            background-repeat: no-repeat;
            background-position: top 2% right;
            background-size: 150px;

            .row{
            background-image: url(/img/theme/tech-red-left.svg);
            background-repeat: no-repeat;
            background-position: bottom 2% left;
            background-size: 100px;
            }

            .main-title{
                position: relative;
                width: 50%;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 3rem;

                &::after {
                    content: '';
                    background-color: var(--main-red);
                    width: calc(100% - 60%);
                    height: 5px;
                    position: absolute;
                    display: block;
                    left: -1rem;
                    bottom: -1rem;
                }
            }

            .blog{

                display: flex;
                flex-direction: row;
                justify-content: space-around;              
                
            }

            .blog-container {
                width:320px;
                height:320px;
                position:relative;
            }

            .blank {
                background-color: var(--blue);
            }

            .blog-border {
                position:absolute;
                display:inline-block;
                border:3px solid var(--main-red);
                z-index:1;
                top: 10px;
                left: 10px;
                width: 300px;
                height: 300px;
                pointer-events: none;
                box-shadow: inset 1px 1px 8px rgba(0,0,0, 0.2);
                
                
                transition: all 500ms ease;
                
            }

            .blog-card {
                width:320px;  
                height:320px;
                background-color:#fff;
                box-shadow:0 2px 8px rgba(0, 0, 0, .25);
                position:relative;
                padding:0 2rem;
                position:relative;
            }

            .blog-title {
                padding:1rem;
                color:#fff;
                font-family:var(--font-poppin);
                font-size: 1rem;
                line-height: 1rem;
                width: 80%;
            }
            
            .blog-image-1, .blog-image-2, .blog-image-3 {
                position:absolute;                
                background-position:top center;
                background-size:contain;
                width:320px;  
                height:150px;
                left:0;
                background-repeat: no-repeat;
            }

            .blog-image-1 {                
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.58)),
                url(http://gyrix.co/wp-content/uploads/2017/03/aUhUwrtD-scalia-blog-default-scalia-blog-default.jpg);                
                
            }
            .blog-image-2 {                
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.58)),
                url(http://gyrix.co/wp-content/uploads/2017/03/bg-scalia-blog-default-scalia-blog-default.jpg);                
            }
            .blog-image-3 {
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.58)),
                url(http://gyrix.co/wp-content/uploads/2017/03/417-DangerousHeadachesYouShouldNeverIgnore4-300x200-scalia-blog-default.jpg);                
            }
            
            .blog-para {
                position:absolute;
                bottom:0;
                left:0;
                padding:2rem 1rem;

                p{
                    padding:0 0 1rem;
                    text-align:center;
                }
            }

            .blog-btn{
                background-color: transparent;
                padding: .8rem 1rem;
                border-radius: 50%;
                
                transition: all 500ms ease;

                i {
                    color: var(--blue);
                    transform: rotateZ(360deg);
                    transition: transform 500ms ease;
                 }
            }

            .blog-container:hover .blog-btn i {
                color:#fff;
               transform: rotateZ(450deg);               
            }

            .blog-container:hover .blog-btn {
                background-color:var(--main-red);
                
            }

            .blog-container:hover .blog-border{
                top:-15px;
                left:-15px;
                width:320px;
                height:320px;
            }

        }   

        @media screen and (max-width: 1024px){
         
            .flex{
                display: flex;
                justify-content: center;
                text-align: center;  
                
                .main-title {
                    width: 20%;                            
                }
                
               }
        }
        
        @media screen and (max-width: 768px){
            .content-blog{

                background-image: none;
    

                .blog{
                    flex-direction: column;
                    align-items: center;                   
                    

                    .blank{
                        display: none;
                    }
                }
            }
        }
         


  


    



    .footer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: var(--main-red);
        flex-direction: row;
        align-items: center;
        color: #fff;

        .policy {
            ul{
                display: flex;
                width: 100%;            
                list-style: none;            
                justify-content: space-around;
                padding: 0;

                li {
                    padding: 1rem;
                }
            }
        }

        .soical-media {
            ul
            {
                display: flex;
                list-style: none;
                padding: 0;       

                    li {
                        padding: 1rem;
                        border: 1px solid #fff;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin: 1rem;
                        text-align: center;                    
                    }
            }
        }
    }

    @media screen and (max-width: 768px){
        .footer{        
            flex-direction: column;
            
        }
    }