.main-stadium{
    background-image: url('../img/theme/stadium-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    .heading-top{
        position: absolute;
        z-index: 5;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;        
    }

    .center-boy{
        position: absolute;
        z-index: 3;
        width: clamp(200px, 30vw, 500px);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);    

        animation: left 4s ease 6s forwards;

        @keyframes left {
            from{transform: translateX(-50%);}
            to{transform: translateX(80%);}
        }
    }
    .right-girl,.left-girl{
        position: absolute;
        z-index: 2;
        width: clamp(150px, 30vw, 350px);
        bottom: 0;                
    }
    .right-girl{
        right: 15%;
        transform: translateY(0);
        animation: down 4s ease 6s forwards;

        @keyframes down {
            from{transform: translateY(0);}
            to{transform: translateY(250%);}
        }
    }
    .left-girl{
        left: 15%;
        transform: translateY(0);
        animation: down 4s ease 6s forwards;

        @keyframes down {
            from{transform: translateY(0);}
            to{transform: translateY(250%);}
        }
    }

    .left-boy,.right-boy{
        position: absolute;
        bottom: -5%;        
        z-index: 2;
        width: clamp(200px, 30vw, 500px);
    }
    .left-boy{
        left: -5%;
    }
    .right-boy{
        right: -5%;
    }

        .televition{
                    
                    width: clamp(300px, 50vw, 580px);
                    z-index: 2;
                    position: absolute;
                    height: clamp(200px, 25vw, 400px);
                    bottom: 15%;
                    left: 50%;
                    opacity: 0;
                    transform: translateX(-50%);
                    animation: fadede 2s ease-in-out 7s forwards;

                    @keyframes fadede {
                        from{opacity: 0;}                        
                        to{opacity: 1;}
                    }


                    .text-up {
                            position: absolute;
                            z-index: 5;                            
                            width: 70%;
                            top: 10%;
                            left: 8%;
                            overflow: hidden;
                            z-index: 10; 

                            .para-anim{
                                font-family: 'Gabrwffr';
                                line-height: clamp(10px, 2.5rem, 55px);
                                color: azure;
                                transform: translateY(280px);                                                                
                            }
                        }

                    .tv-1,.tv-2,.tv-3,.tv-4{
                        width: 100%;
                        position: absolute; 
                        opacity: 0;                       
                    }

                    .tv-1{
                        opacity: 0;                        
                        animation: fadedeOne 2s ease-in-out 7s forwards;

                        @keyframes fadedeOne {
                            from{opacity: 0;}                        
                            to{opacity: 1;}
                        }
                    }

                    .nxt-animation-2{
                        position: absolute;
                        z-index: 11;                        
                        .tv-5{
                            width: 100%;
                            position: absolute; 
                            opacity: 0;                       
                        }
                    }
                    
                    .nxt-animation-1{
                        position: absolute;
                        z-index: 8;
                        width: 100%;
                        height: 100%;
                        .tv-2{
                            position: absolute;
                            z-index: 8;
                            opacity: 0;                        
                            animation: fadedeOne 2s ease-in-out 8s forwards;
    
                            @keyframes fadedeOne {
                                from{opacity: 0;}                        
                                to{opacity: 1;}
                            }
                        }
                    }

                }    

    .circle-1,.circle-2,.circle-3{
        width: clamp(200px, 30vw, 500px);
        height: clamp(200px, 30vw, 500px);
        position: absolute;
        background-color: #25A595;  
        border-radius: 50%;        
    }

    .circle-1{
        top: -5%;
        left: 0;
        transform: scale(2);
        animation: big-1 5s ease 4s forwards;           

        @keyframes big-1 {
            from{transform: scale(2);}
            to{transform: scale(5);}
        }
    }

    .circle-2{
        top: -15%;
        right: 15%;
        transform: scale(2.5);
        animation: big-2 5s ease 4s forwards;           

        @keyframes big-2 {
            from{transform: scale(2.5);}
            to{transform: scale(5);}
        }
    }

    .circle-3{
        bottom: -15%;
        right: 5%;
        transform: scale(1.5);
        animation: big-3 5s ease 4s forwards;           

        @keyframes big-3 {
            from{transform: scale(1.5);}
            to{transform: scale(5);}
        }
    }

    .stars{
        position: absolute;
        z-index: -1;
        width: clamp(200px, 45vw, 400px);
        bottom: 0;
        left: 40%;
        transform: translateX(-40%);
    }

    .para-animation{
        transform: translateY(280px);         
        animation: fadeup 20s ease 6s forwards;

        @keyframes fadeup {
            from{transform: translateY(280px);}
            to{transform: translateY(-280px);}
        }
    }  
    
    .tv-appear{
        opacity: 0;  
        z-index: 9;                      
        animation: fadedeOne 2s ease-in-out 2s forwards;

        @keyframes fadedeOne {
            from{opacity: 0;}                        
            to{opacity: 1;}
        }
    }

    .tv-appear-2{
        opacity: 0;  
        z-index: 9;                      
        animation: fadedeOne 2s ease-in-out 4s forwards;

        @keyframes fadedeOne {
            from{opacity: 0;}                        
            to{opacity: 1;}
        }
    }
    .tv-appear-3{
        opacity: 0;          
        animation: fadedeOne 2s ease-in-out 22s forwards;

        @keyframes fadedeOne {
            from{opacity: 0;}                        
            to{opacity: 1;}
        }
    }

    .width-appear{
        width: 100%;
    }
}
