
@font-face {
    font-family: 'Adobe Handwriting';
    src: local('Adobe Handwriting Ernie'), local('Adobe-Handwriting-Ernie'),        
        url('../font/AdobeHandwriting-Ernie.woff') format('woff'),
        url('../font/AdobeHandwriting-Ernie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'futur';
    src: url('../font/futur.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futur';
    src: url('../font/Futura\ Bold\ font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'futur';
    src:  url("../font/pricedow.ttf") format('truetype');      
    font-weight: noraml;
    font-style: normal;
}

@font-face {
    font-family: 'futur';
    src: url('../font/futura\ medium\ bt.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Pricedown';
    src: url('../font/pricedow.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'American';
    src: url('../font/American\ Typewriter\ Regular.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Chalkduster';
    src: url('../font/Chalkduster.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Gabrwffr';
    src: url('../font/GABRWFFR.TTF') format('truetype');      
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Frank';
    src: url('../font/AdobeHandwriting-Frank.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Caslon';
    src: url('../font/Big\ Caslon\ Medium.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSans';
    src: url('../font/FreeSans.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../font/impact.ttf') format('truetype');      
    font-weight: medium;
    font-style: normal;
}
