.scroll{
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.green{
    height: 101vh;
    overflow: hidden;    
       
    &-img{
        background-image: url('../img/theme/green-bay.png');
        height: 100%;
        background-position: center; 
        position: relative;
        background-size: cover;
        display: flex;

        .right{
            margin-left: auto;
        }

        .left, .right{
            position: relative;
            width: 230px;
            height: 230px;         
            max-width: 100%;      
            
            img{
                width: 190px;                
            }

            img.pin-1{
                position: absolute;
                top: -120px;
                left: -10px;
                opacity: 1;
                transition: opacity 100ms;
            }

            img.pin-1-hover{
                position: absolute;
                top: -110px;
                left: -10px;
                opacity: 0;
                transition: opacity 100ms;
            }

            &:hover img.pin-1-hover{
                opacity: 1;
            }

            &:hover img.pin-1{
                opacity: 0;
            }
        }

        
        .year{
            position: absolute;
            bottom: 10%;
            right: 5%;
            font-size: clamp(40px, 8vh, 100px);
            font-family: 'Adobe Handwriting';
        }
    }
}

@media screen and (max-width: 768px){
    .green{
        &-img{
         background-image: url('../img/theme/green-bay-tab.png');
        }
    }    
 }
 
 @media screen and (max-width: 425px){
     .green{
         &-img{
          background-image: url('../img/theme/green-bay-mobile.png');
         
         }
     }    
  }



  //photos



.photos{
    height: 100vh;
    background-image: url('../img/theme/wallpaper.png');
    background-position: center;
    background-size: cover;
    position: relative;
    display: none;
    flex-direction: column;
    overflow: hidden;   
    
    .event-none{
        pointer-events: none;
        display: none;
        cursor: none;
    }


    .photo{
        position: absolute;
        height: clamp(150px, 25vw, 500px);
        width: clamp(150px, 25vw, 500px);        
        

        img{
            position: absolute;
            width: 100%;    
            z-index: 1;        
        }

        p{  
            font-size: 28px;
            position: absolute;
            bottom: -10px;
            z-index: 3;
            left: 50%;
            transform: translate(-50%);
            font-family: 'Adobe Handwriting';
            text-shadow: 0px 0px 5px #000;
        }
    }
    
    .photo-2{
        position: absolute;
        height: clamp(150px, 25vw, 500px);
        width: clamp(150px, 25vw, 500px);                
        right: 0;       

        img{
            position: absolute;
            width: 100%;    
            z-index: 1;        
        }
        p{  
            font-size: 28px;
            position: absolute;
            bottom: -10px;
            z-index: 3;
            left: 50%;
            transform: translate(-50%);
            font-family: 'Adobe Handwriting';
            text-shadow: 0px 0px 5px #000;
            
        }
    }

    .left, .right{
        position: absolute;
        width: 230px;
        height: 230px;         
        max-width: 100%;   
        z-index: 2;          

        img{
            width: 190px;                
        }

        img.pin-1{
            position: absolute;
            top: -120px;
            left: -10px;
            opacity: 1;
            transition: opacity 100ms;
        }

        img.pin-1-hover{
            position: absolute;
            top: -110px;
            left: -10px;
            opacity: 0;
            transition: opacity 100ms;
        }

        &:hover img.pin-1-hover{
            opacity: 1;
        }

        &:hover img.pin-1{
            opacity: 0;
        }
    }

    .right{    
                   
        right:0;
    }
    
    .stamp{
        &-container{
            width: clamp(150px, 15vw, 350px);
            margin-left: auto;
            margin-right: calc(100% - 95%);
            margin-top: calc(100% - 98%);
            outline: 2px solid;
            display: flex;
            position: relative;

            img{
                width: 100%;
                opacity: 0;
                transition: 1000ms ease;
            }

            .print{
                position: absolute;
                width: 100%;
                bottom: -20%;
                left: -71%;
                opacity: 0;
                transition: 1000ms ease 500ms;
            }

            .on{
                opacity: 1;
            }
        }
    }

    .ft{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;        
        height: 100%;
        flex-direction: column;
        position: relative;

        &-para{
            font-family: 'Adobe Handwriting';
            font-weight: normal;
            font-size: clamp(20px, 5vw, 30px);
            line-height: clamp(35px, 15vw, 55px);
            width: clamp(300px, 70vw, 1200px);
            margin: 0 auto;
            text-align: center;
            line-height: clamp(20px, 10vw, 40px);
        }
        .nxt-page{
            position: absolute;
            width: 200px;
            height: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);            
            pointer-events: none;
        }

        .process{
            pointer-events: visible;
        }

    }
    
    
}

.photos-appear{
    display: flex;
}

@media screen and (max-width: 425px){
    .photos{
        

        .left{
            left: -10%;
            pointer-events: none;
            
        }
        .right{
            right: -20%;         
            pointer-events: none;   
        }

        .photo, .photo-2{
           
            p{
                display: none;                
            }
           
            
        }
    }
}


