 

    .letter{
        width: 100vw;
        height: 1300px;
        background-image: url('../img/theme/letter-background.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .cup{
            position: absolute;
            top: 0;
            left: 0;
            max-width: clamp(80px, 35vw, 340px);
            
        }

        .book{
            position: absolute;
            top: 0;
            right: 0;
            max-width: clamp(80px, 35vw, 340px);
        }
        .pen{
            position: absolute;
            bottom: 20%;
            right: 0;
            max-width: clamp(80px, 35vw, 700px);
            z-index: 4;
        }

        .letter-page{
            position: relative;
            width: 50%;
            height: clamp(450px, 125vh, 900px);                        
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aliceblue;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, .6);

            p{
                font-family: 'Frank';
                font-size: clamp(10px, 5vw, 1.5rem);            
                width: 100%;            
                padding: 0 10%;
                line-height: 75px;            
                
            }

            .steeler, .seal{
                width: 50%;
                position: absolute;            
                height: clamp(50px, 120vh, 250px); 
                bottom: 5%;                 
                display: flex;  
                justify-self: center;
                align-items: center;
                .steeler-img{
                    max-width: 80%;
                    margin: 0 auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                }

                .img-appear{
                    opacity: 0;
                    animation: appear 1s ease-in 1s forwards;

                    @keyframes appear {
                        from{opacity: 0;}
                        to{opacity: 1;}
                    }
                }
            }
            .steeler{
                left: 0;            
            }
            .seal{
                right: 0;
                .apear-img-4{
                    position: absolute;
                    max-width: 80%;
                    z-index: 4;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    
                }
                .apear-img-3{
                    position: absolute;
                    max-width: 150%;
                    z-index: 3;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    
                }
                .apear-img-2{
                    position: absolute;
                    max-width: 80%;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    
                    
                }
                .apear-img-1{
                    position: absolute;
                    max-width: 80%;
                    z-index: 1;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    
                }

                .img-appear-3{
                    opacity: 0;
                    animation: appear 1s ease-in 5s forwards;

                    @keyframes appear {
                        from{opacity: 0;}
                        to{opacity: 1;}
                    }
                }

                .img-appear-2{
                    opacity: 0;
                    animation: appear 1s ease-in 5s forwards;

                    @keyframes appear {
                        from{opacity: 0;}
                        to{opacity: 1;}
                    }
                }


                .img-appear-1{
                    opacity: 0;
                    animation: appear 1s ease-in 4s forwards;

                    @keyframes appear {
                        from{opacity: 0;}
                        to{opacity: 1;}
                    }
                }
            }
        }     

    }

    @media screen and (max-width:1366px) {
        .letter{

            .pen{
                bottom: 30%;
            }
            
            .letter-page{
                width: 60%;
                p{
                    line-height: 60px;     
                }
            }     
    
        } 
    }

    @media screen and (max-width:1024px) {
        .letter{
            
            .letter-page{
                width: 60%;
                p{
                    line-height: 50px;     
                }
            }     
    
        } 
    }

    @media screen and (max-width:786px) {
        .letter{

            .letter-page{
                width: 60%;
                p{
                    line-height: 40px;     
                }
            }     
    
        } 
    }

    
    @media screen and (max-width:452px) {
        .letter{
            .pen{
                bottom: 50%;
            }
            
            .letter-page{
                width: 80%;
                p{
                    font-family: 'Frank';
                    font-size: clamp(10px, 5vw, 1.5rem);            
                    width: 100%;            
                    padding: 0 10%;
                    line-height: 35px;     
                }
            }     
    
        } 
     }

    .slide-img{
        width: 100vw;
        height: 100vh;
        background-image: url('../img/theme/slide-two.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        position: relative;

        p{
            position: absolute;
            top: 5%;
            right: 5%;
            width: 50%;
            font-family: 'Caslon';
            font-size: 18px;
            line-height: 20px;
        }

        a{
            .nxt-page-click{
                position: absolute;
                bottom: 5%;
                left: 70%;                
                opacity: 0;                            
            }
        }

        .faded-appear{
            opacity: 0;
            animation: appear-arrow 2s ease-in 2s forwards;

            @keyframes appear-arrow {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }
    }

    .slide-img-appear{
        display: block;
    }


 @media screen and (max-width:452px) {
    .slide-img{ 
        p{
            width: 70%;
            font-size: 16px;
            line-height: 20px;
        }
    }  
 }

 .breaking-news{
     background-image: url('../img/theme/break-img.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     display: none;     
     position: relative;

     .new-break{
         width: 50%;
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
         
     }

     .rugby-boy{
         position: absolute;
         z-index: 6;
         bottom: 5%;
         right: 2%;
         width: 50%;
         height: 100vh;

         a{
             width: 50%;
             height: 50%;             
             position: absolute;
             bottom: 0;
             right: 0;
             z-index: 9;
         }

        .football-appear{
            position: absolute;
             bottom: 7%;
             right: 0;
             width: 50%;             
        }        

        .first-appear{
            z-index: 1;
            opacity: 0;
            animation: appear-first 20s ease 20s forwards;

            @keyframes appear-first {
                0%{opacity: 0;}                
                10%{opacity: 1;}
                90%{opacity: 1;}
                100%{opacity: 0;} 
            }

            
        }
        
        .second-appear{
            z-index: 2;
            opacity: 0;
            animation: appear-second 20s ease 30s forwards;

            @keyframes appear-second {
                0%{opacity: 0;}                
                10%{opacity: 1;}
                90%{opacity: 1;}
                100%{opacity: 0;}                
            }
        }
        
        .fourth-appear{
            z-index: 2;
            opacity: 0;
            transform: translate(0, 0);
            animation: appear-fourth 10s ease 50s forwards;

            @keyframes appear-fourth {
                from{opacity: 0; transform: translate(0, 0);}                
                to{opacity: 1;  transform: translate(10%, 10%);}                
            }
        }

        .third-appear{
            z-index: 3;
            opacity: 0;
            transform: translate(0, 0);
            animation: appear-third 20s ease 35s forwards,
            shift 5s ease 50s forwards;

            @keyframes appear-third {
                from{opacity: 0;}                
                to{opacity: 1;}                
            }

            @keyframes shift {
                
                    from{ transform: translate(0, 0);}                
                    to{ transform: translate(10%, 10%);}                
                                
            }
        }
     }

     .player{
         position: absolute;
         bottom: -7px;
         left: -7px;
         width: clamp(170px, 35vw, 600px);
         opacity: 0;
         z-index: 5;
         animation: player-appear 2s ease-in 4s forwards;

         @keyframes player-appear {
             from{opacity: 0;}             
             to{opacity: 1;}
         }

         img{
             width: 100%;
         }
     }
     .yellow-line{
        position: absolute;
        bottom: 7%;
        right: 0;
        z-index: 4;
        transform: translateX(100%);
        background-color: yellow;
        height: clamp(20px, 15vw, 90px);
        width: 70%;
        animation: right-left 2s ease 5s forwards;
        overflow: hidden;

        @keyframes right-left {
            from{transform: translateX(100%);}            
            to{transform: translateX(0);}
        }

        .heading-1{
            font-family: 'Helvetica';
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 45px;
            transform: translate(-50%, -50%);
            animation: fade-in 2s ease 7s forwards,
            goes 4s ease 30s forwards;

            @keyframes fade-in {
                from{opacity: 0;}                
                to{opacity: 1;}
            }
            @keyframes goes {
                from{opacity: 1; transform: translate(-50%, -50%);}                
                to{opacity: 1; transform: translate(-400%, -50%);}
            }

        }
        .heading-2{
            font-family: 'Helvetica';            
            position: absolute;
            top: 50%;
            left: 50%;            
            font-size: 45px;
            transform: translate(400%, -50%);
            animation: comes 4s ease 30s forwards,
            goings 4s ease 50s forwards;

            @keyframes comes {
                from{transform: translate(400%, -50%);}                
                to{transform: translate(-50%, -50%);}
            }

            @keyframes goings {
                from{transform: translate(-50%, -50%);}                
                to{transform: translate(-400%, -50%);}
            }

        }
        .heading-3{
            font-family: 'Helvetica';
            position: absolute;
            top: 50%;
            left: 50%;            
            font-size: 45px;
            transform: translate(400%, -50%);
            animation: going 4s ease 50s forwards,
            went 4s ease 70s forwards;

            @keyframes going {
                from{transform: translate(400%, -50%);}                
                to{transform: translate(-50%, -50%);}
            }

            @keyframes went {
                from{transform: translate(-50%, -50%);}                
                to{transform: translate(-400%, -50%);}
            }

        }
     }
     .black-line{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        transform: translateX(100%);
        background-color: #000;
        height: clamp(20px, 25vw, 60px);
        width: 70%;
        animation: right-left 2s ease 5s forwards;
        overflow: hidden;

        @keyframes right-left {
            from{transform: translateX(100%);}            
            to{transform: translateX(0);}
        }

        .para-1{
            position: absolute;
            top: 50%;
            left: 50%;            
            font-size: 18px;
            color: #fff;
            width: 9000px;            
            transform: translate(500px, -50%);
            animation: move 100s linear 7s forwards;

            @keyframes move {
                from{transform: translate(500px, -50%);}                
                to{transform: translate(-6500px, -50%);}
            }

        }
     }

     
 }

.breaking-news-appear{
    display: block;
}


@media screen and (max-width: 452px) {
    .breaking-news{
        .yellow-line{
            .heading-1{
                font-size: 18px;
            }
        }
    }    
}