


.season{    
    display: none;  
    position: relative;   
    overflow: hidden;

    .don-shula{
        position: absolute;
        width: 50%;
        z-index: 1;
        left: 50%;     
        top: 10%;   
        transform: translate(-50%, -10%);
    }       
    .car{
        position: absolute;
        z-index: 1;
        width: 45%;
        bottom: -10%;
        right: 5%;
        }
    &-one {
        background-color: #FFABA0;
        width: 100%;
        height: 100vh;
        background-image: url('../img/theme/Perfect-season–1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .dolphin-logo{
            margin: clamp(2rem, 5vw, 5rem);
            width: clamp(80px, 8vw, 240px);
            position: absolute;         
        }

        
        h1{
            font-family: 'Pricedown';            
            color: black;
            -webkit-text-fill-color: #FF88ED;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            font-size: clamp(10rem, 10vw, 20rem);
        }        

        .season-para{
            padding: clamp(1rem, 3vw, 30px);
            background-color: #ff88ED;
            width: 80%;
            max-width: 600px;
            min-width: 300px;
            margin-top: 40vh;
            margin-left:auto;                        
            margin-right: auto;            
            color: #fff;
            font-size: 22px;
            font-family: 'futur';
            font-weight: 500;
        }
    }
    &-two {
        background-color: #FF88ED;
        width: 100%;
        height: 100vh;
        background-image: url('../img/theme/Perfect-season–2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        
        .glow-arrow-off{
            position: absolute;
            bottom: -5%;
            right: 50%;
            animation-name: example;
            animation-duration: 4s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            opacity: 0;
            z-index: 5;
    
            @keyframes example {
                0% {opacity: 0;}                 
                100% {opacity: 1;}
              }
    
            img{
                width: 100%;
            }
        }
    }

    
}

.season-appear{
    display: flex;
}

@media screen and (max-width: 1024px) {
    .season{

        .season-para{
            margin-top: 30vh;
            font-size: 22px;
        } 

        &-one, &-two {
            background-size: contain;
            background-position: bottom;   
            

                       
        }
    }    
}

@media screen and (max-width: 768px) {
    .season{
        flex-direction: column;

        .don-shula{
            position: absolute;
            width: 80%;
            z-index: 1;
            left: 50%;     
            top: 50%;   
            transform: translate(-50%, -50%);
        }   

        .car{            
            width: 90%;
            bottom: -5%;
            right: 5%;
            }

        &-one, &-two {
            background-size: 100%;
            background-position: bottom;  
            
            .don-shula{
                display: none;
            }

            .season-para{
                margin-top: 40vh;
                font-size: 18px;
            }  
        }
       
    }    
}

@media screen and (max-width: 425px) {
    .season{
        flex-direction: column;

        .car{   
            bottom: 0%;
            }
        &-one, &-two {
            background-size: 100%;
            background-position: bottom;    

            

            .season-para{
                margin-top: 30vh;
                font-size: 18px;
            }  
        }

        &-two{
            background-image: url('../img/theme/Perfect-season–2-2.png');
        }
       
    }    
}


