
section.slide{    
    background-color: #000;    
    height: 100vh;
    width: 100%;        
    position: relative;
    overflow: hidden;    

    .button{
        position: absolute;
        z-index: 10;                
        height: 100px;
        width: 100px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 50%) scale(0);        
        animation: display 1s ease-in-out 29s forwards;

        @keyframes display {
            from{ transform: translate(-50%, 50%) scale(0);}
            to{ transform: translate(-50%, 50%) scale(1);}
        }
    }
   
    .garage-door{
        width: 100%;
        position: absolute;
        z-index: 9;
        height: 130%;   
        opacity: 1;
        transform: translateY(-1400px);     
        animation: close 3s ease-in-out 18s forwards, transparacy 1s ease-in-out 28s forwards;
        overflow: hidden;
          

        @keyframes close {
            0% {transform: translateY(-1400px) scaleY(0);}                 
            100% { transform: translateY(0) scaleY(1);}
          }
         
          @keyframes transparacy {
            0% { opacity: 1; }                 
            100% {opacity: 0; }          
        }
       
    }

    .garage-door-open{
        width: 100%;
        position: absolute;
        z-index: 9;
        height: 130%;   
        transform: translateY(-1400px);     
        animation: open 3s ease-in-out 28s reverse;
          

        @keyframes open {
            0% {transform: translateY(-1400px) scaleY(0);;}                 
            100% { transform: translateY(0) scaleY(1);}
          }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }

    .anim-delay{
        animation-duration: 4s;
        animation-delay: 2s;        
    }

    .slider-anim{
        height: 100vh;
        width: 100%; 
        position: absolute;
        z-index: 2;
        animation-duration: 4s;
        animation-delay: 6s;  
        
        .open-bar{

            

            &-img{
                position: absolute;
                z-index: 4;
                opacity: 0;
                animation: appear 3s ease-in-out 26s forwards;

                @keyframes appear {
                    from{opacity: 0;}                
                    to{opacity: 1;}
                }
            }
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;

        }
        .slider-anim-one{
            position: absolute;
            z-index: 3;
            animation-duration: 4s;
            animation-delay: 6s;
            top: 50%;
            left: 50%;
            width: clamp(100px, 95vw, 900px);
            height: clamp(74px, 70vw, 600px);
            transform: translate(-50%, -50%);

            img{
                width: 100%;
            }

            .txt-anim{
                position: absolute;
                top: 5%;
                right: 10px;
                z-index: 4;
                width: clamp(120px, 40vw, 400px);
                overflow: hidden;

                .fadeInUp-delay{
                    font-family: 'American';
                    line-height: clamp(10px, 2vw, 49px);
                    letter-spacing: clamp(1px, 1vw, 10px);
                    display: inline-block;
                    font-size: clamp(10px, 1vw, 18px);
                    animation-duration: 5s;
                    animation-delay: 10s;
                }
                
                .confidential-img, .confidential-glow{
                    object-fit: contain;
                    width: clamp(50px, 30vw, 300px);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotateZ(345deg);
                    animation-duration: 2s;
                    animation-delay: 15s;
                }
                .confidential-glow{
                    width: clamp(50px, 40vw, 450px);
                    animation-duration: 2s;
                    animation-delay: 17s;
                }

            }
            
        }

    }
    
}



