*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{       
       font-family: Open Sans;       
}

/* width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;     
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;     
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

@import "./_font";
@import "./_index";
@import "./_green-bay";
@import "./_season";
@import "./_steeler";
@import "./_bill";
@import "./_dallas";
@import "./_letter";