@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px grey;
          box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

@font-face {
  font-family: 'Adobe Handwriting';
  src: local("Adobe Handwriting Ernie"), local("Adobe-Handwriting-Ernie"), url("../font/AdobeHandwriting-Ernie.woff") format("woff"), url("../font/AdobeHandwriting-Ernie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futur';
  src: url("../font/futur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futur';
  src: url("../font/Futura Bold font.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'futur';
  src: url("../font/pricedow.ttf") format("truetype");
  font-weight: noraml;
  font-style: normal;
}

@font-face {
  font-family: 'futur';
  src: url("../font/futura medium bt.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Pricedown';
  src: url("../font/pricedow.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'American';
  src: url("../font/American Typewriter Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Chalkduster';
  src: url("../font/Chalkduster.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Gabrwffr';
  src: url("../font/GABRWFFR.TTF") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Frank';
  src: url("../font/AdobeHandwriting-Frank.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon';
  src: url("../font/Big Caslon Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'FreeSans';
  src: url("../font/FreeSans.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

.index {
  height: 101vh;
}

#navigation {
  position: fixed;
}

#navigation #menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 100;
}

#navigation #menu .bar {
  height: 5px;
  width: 100%;
  background-color: #fff;
  display: block;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#navigation .nav {
  padding: 0;
  margin: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: none;
}

#navigation .nav .col-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

#navigation .nav .col-menu a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-decoration: none;
  font-weight: 600;
  padding: clamp(2rem, 4vh, 6rem);
  font-size: clamp(20px, 5vw, 40px);
}

#navigation .nav .col-menu a:hover {
  color: #2BA8E0;
}

#navigation .change {
  background-color: rgba(72, 72, 72, 0.7);
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  z-index: -100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#bar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#bar3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.icon .bar {
  background-color: #fff;
}

.icon #bar1 {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

.icon #bar2 {
  opacity: 0;
}

.icon #bar3 {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.main {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .logo {
  padding-top: calc(100vh - 80vh);
  width: clamp(300px, 50vw, 800px);
  padding-left: 2rem;
  padding-right: 2rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin: 10px auto;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.social a .fab {
  font-size: clamp(24px, 3vw, 35px);
  color: #fff;
}

.container {
  display: none;
  height: 100vh;
}

.container .nfl {
  background-image: url("../img/theme/NFL IN 10 STEPS.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .nfl .glow-off {
  position: absolute;
  top: -100px;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .nfl .glow-off img {
  width: 100%;
}

.container .nfl p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Impact;
  font-weight: 800;
  font-size: clamp(22px, 5vw, 70px);
  text-decoration: none;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#742177), to(#009DDD));
  background-image: linear-gradient(to right, #742177, #009DDD);
  padding: clamp(10px, 2vw, 20px);
  border: clamp(5px, 1vw, 10px) solid #fff;
}

.reveal {
  display: block;
}

.nv-hide {
  display: none;
}

.scroll {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.green {
  height: 101vh;
  overflow: hidden;
}

.green-img {
  background-image: url("../img/theme/green-bay.png");
  height: 100%;
  background-position: center;
  position: relative;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.green-img .right {
  margin-left: auto;
}

.green-img .left, .green-img .right {
  position: relative;
  width: 230px;
  height: 230px;
  max-width: 100%;
}

.green-img .left img, .green-img .right img {
  width: 190px;
}

.green-img .left img.pin-1, .green-img .right img.pin-1 {
  position: absolute;
  top: -120px;
  left: -10px;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.green-img .left img.pin-1-hover, .green-img .right img.pin-1-hover {
  position: absolute;
  top: -110px;
  left: -10px;
  opacity: 0;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.green-img .left:hover img.pin-1-hover, .green-img .right:hover img.pin-1-hover {
  opacity: 1;
}

.green-img .left:hover img.pin-1, .green-img .right:hover img.pin-1 {
  opacity: 0;
}

.green-img .year {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: clamp(40px, 8vh, 100px);
  font-family: 'Adobe Handwriting';
}

@media screen and (max-width: 768px) {
  .green-img {
    background-image: url("../img/theme/green-bay-tab.png");
  }
}

@media screen and (max-width: 425px) {
  .green-img {
    background-image: url("../img/theme/green-bay-mobile.png");
  }
}

.photos {
  height: 100vh;
  background-image: url("../img/theme/wallpaper.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.photos .event-none {
  pointer-events: none;
  display: none;
  cursor: none;
}

.photos .photo {
  position: absolute;
  height: clamp(150px, 25vw, 500px);
  width: clamp(150px, 25vw, 500px);
}

.photos .photo img {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.photos .photo p {
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-family: 'Adobe Handwriting';
  text-shadow: 0px 0px 5px #000;
}

.photos .photo-2 {
  position: absolute;
  height: clamp(150px, 25vw, 500px);
  width: clamp(150px, 25vw, 500px);
  right: 0;
}

.photos .photo-2 img {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.photos .photo-2 p {
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-family: 'Adobe Handwriting';
  text-shadow: 0px 0px 5px #000;
}

.photos .left, .photos .right {
  position: absolute;
  width: 230px;
  height: 230px;
  max-width: 100%;
  z-index: 2;
}

.photos .left img, .photos .right img {
  width: 190px;
}

.photos .left img.pin-1, .photos .right img.pin-1 {
  position: absolute;
  top: -120px;
  left: -10px;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.photos .left img.pin-1-hover, .photos .right img.pin-1-hover {
  position: absolute;
  top: -110px;
  left: -10px;
  opacity: 0;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.photos .left:hover img.pin-1-hover, .photos .right:hover img.pin-1-hover {
  opacity: 1;
}

.photos .left:hover img.pin-1, .photos .right:hover img.pin-1 {
  opacity: 0;
}

.photos .right {
  right: 0;
}

.photos .stamp-container {
  width: clamp(150px, 15vw, 350px);
  margin-left: auto;
  margin-right: calc(100% - 95%);
  margin-top: calc(100% - 98%);
  outline: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.photos .stamp-container img {
  width: 100%;
  opacity: 0;
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;
}

.photos .stamp-container .print {
  position: absolute;
  width: 100%;
  bottom: -20%;
  left: -71%;
  opacity: 0;
  -webkit-transition: 1000ms ease 500ms;
  transition: 1000ms ease 500ms;
}

.photos .stamp-container .on {
  opacity: 1;
}

.photos .ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.photos .ft-para {
  font-family: 'Adobe Handwriting';
  font-weight: normal;
  font-size: clamp(20px, 5vw, 30px);
  line-height: clamp(35px, 15vw, 55px);
  width: clamp(300px, 70vw, 1200px);
  margin: 0 auto;
  text-align: center;
  line-height: clamp(20px, 10vw, 40px);
}

.photos .ft .nxt-page {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.photos .ft .process {
  pointer-events: visible;
}

.photos-appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  .photos .left {
    left: -10%;
    pointer-events: none;
  }
  .photos .right {
    right: -20%;
    pointer-events: none;
  }
  .photos .photo p, .photos .photo-2 p {
    display: none;
  }
}

.season {
  display: none;
  position: relative;
  overflow: hidden;
}

.season .don-shula {
  position: absolute;
  width: 50%;
  z-index: 1;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.season .car {
  position: absolute;
  z-index: 1;
  width: 45%;
  bottom: -10%;
  right: 5%;
}

.season-one {
  background-color: #FFABA0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/theme/Perfect-season–1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.season-one .dolphin-logo {
  margin: clamp(2rem, 5vw, 5rem);
  width: clamp(80px, 8vw, 240px);
  position: absolute;
}

.season-one h1 {
  font-family: 'Pricedown';
  color: black;
  -webkit-text-fill-color: #FF88ED;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: clamp(10rem, 10vw, 20rem);
}

.season-one .season-para {
  padding: clamp(1rem, 3vw, 30px);
  background-color: #ff88ED;
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 22px;
  font-family: 'futur';
  font-weight: 500;
}

.season-two {
  background-color: #FF88ED;
  width: 100%;
  height: 100vh;
  background-image: url("../img/theme/Perfect-season–2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.season-two .glow-arrow-off {
  position: absolute;
  bottom: -5%;
  right: 50%;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  z-index: 5;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.season-two .glow-arrow-off img {
  width: 100%;
}

.season-appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .season .season-para {
    margin-top: 30vh;
    font-size: 22px;
  }
  .season-one, .season-two {
    background-size: contain;
    background-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .season {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .season .don-shula {
    position: absolute;
    width: 80%;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .season .car {
    width: 90%;
    bottom: -5%;
    right: 5%;
  }
  .season-one, .season-two {
    background-size: 100%;
    background-position: bottom;
  }
  .season-one .don-shula, .season-two .don-shula {
    display: none;
  }
  .season-one .season-para, .season-two .season-para {
    margin-top: 40vh;
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .season {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .season .car {
    bottom: 0%;
  }
  .season-one, .season-two {
    background-size: 100%;
    background-position: bottom;
  }
  .season-one .season-para, .season-two .season-para {
    margin-top: 30vh;
    font-size: 18px;
  }
  .season-two {
    background-image: url("../img/theme/Perfect-season–2-2.png");
  }
}

section.slide {
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

section.slide .button {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100px;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) scale(0);
          transform: translate(-50%, 50%) scale(0);
  -webkit-animation: display 1s ease-in-out 29s forwards;
          animation: display 1s ease-in-out 29s forwards;
}

@-webkit-keyframes display {
  from {
    -webkit-transform: translate(-50%, 50%) scale(0);
            transform: translate(-50%, 50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, 50%) scale(1);
            transform: translate(-50%, 50%) scale(1);
  }
}

@keyframes display {
  from {
    -webkit-transform: translate(-50%, 50%) scale(0);
            transform: translate(-50%, 50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, 50%) scale(1);
            transform: translate(-50%, 50%) scale(1);
  }
}

section.slide .garage-door {
  width: 100%;
  position: absolute;
  z-index: 9;
  height: 130%;
  opacity: 1;
  -webkit-transform: translateY(-1400px);
          transform: translateY(-1400px);
  -webkit-animation: close 3s ease-in-out 18s forwards, transparacy 1s ease-in-out 28s forwards;
          animation: close 3s ease-in-out 18s forwards, transparacy 1s ease-in-out 28s forwards;
  overflow: hidden;
}

@-webkit-keyframes close {
  0% {
    -webkit-transform: translateY(-1400px) scaleY(0);
            transform: translateY(-1400px) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes close {
  0% {
    -webkit-transform: translateY(-1400px) scaleY(0);
            transform: translateY(-1400px) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes transparacy {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transparacy {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section.slide .garage-door-open {
  width: 100%;
  position: absolute;
  z-index: 9;
  height: 130%;
  -webkit-transform: translateY(-1400px);
          transform: translateY(-1400px);
  animation: open 3s ease-in-out 28s reverse;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translateY(-1400px) scaleY(0);
            transform: translateY(-1400px) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translateY(-1400px) scaleY(0);
            transform: translateY(-1400px) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

section.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}

section.slide .anim-delay {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

section.slide .slider-anim {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

section.slide .slider-anim .open-bar-img {
  position: absolute;
  z-index: 4;
  opacity: 0;
  -webkit-animation: appear 3s ease-in-out 26s forwards;
          animation: appear 3s ease-in-out 26s forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section.slide .slider-anim img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

section.slide .slider-anim .slider-anim-one {
  position: absolute;
  z-index: 3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  top: 50%;
  left: 50%;
  width: clamp(100px, 95vw, 900px);
  height: clamp(74px, 70vw, 600px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.slide .slider-anim .slider-anim-one img {
  width: 100%;
}

section.slide .slider-anim .slider-anim-one .txt-anim {
  position: absolute;
  top: 5%;
  right: 10px;
  z-index: 4;
  width: clamp(120px, 40vw, 400px);
  overflow: hidden;
}

section.slide .slider-anim .slider-anim-one .txt-anim .fadeInUp-delay {
  font-family: 'American';
  line-height: clamp(10px, 2vw, 49px);
  letter-spacing: clamp(1px, 1vw, 10px);
  display: inline-block;
  font-size: clamp(10px, 1vw, 18px);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

section.slide .slider-anim .slider-anim-one .txt-anim .confidential-img, section.slide .slider-anim .slider-anim-one .txt-anim .confidential-glow {
  -o-object-fit: contain;
     object-fit: contain;
  width: clamp(50px, 30vw, 300px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(345deg);
          transform: translate(-50%, -50%) rotateZ(345deg);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

section.slide .slider-anim .slider-anim-one .txt-anim .confidential-glow {
  width: clamp(50px, 40vw, 450px);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 17s;
          animation-delay: 17s;
}

.bill-dinner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bill-dinner .img-appear {
  width: clamp(200px, 15vw, 400px);
  height: 350px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 5;
}

.bill-dinner .img-appear img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
}

.bill-dinner-img-1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.bill-dinner-img-conatiner {
  width: clamp(300px, 50vw, 500px);
  height: clamp(400px, 70vh, 600px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bill-dinner-img-conatiner .nxt-page-dallas {
  position: absolute;
  bottom: -10%;
  display: none;
  opacity: 0;
  z-index: 6;
}

.bill-dinner-img-conatiner .anim {
  position: absolute;
  width: clamp(270px, 30vw, 350px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bill-dinner-img-conatiner .anim h1 {
  font-family: 'Chalkduster';
}

.bill-dinner-img-conatiner .anim p {
  color: azure;
  font-size: clamp(12px, 5vw, 18px);
  font-family: 'Chalkduster';
}

.bill-dinner-img-conatiner .anim p span {
  width: 100px;
}

.bill-dinner-img-conatiner .bill-dinner-img-2 {
  max-width: 100%;
  max-height: 100%;
}

.bill-dinner .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
}

.bill-dinner .fadein {
  opacity: 0;
  -webkit-animation: faded 500ms ease 500ms forwards;
          animation: faded 500ms ease 500ms forwards;
}

@-webkit-keyframes faded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes faded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bill-dinner .hide {
  display: none;
}

.bill-dinner .anim-delay {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bill-dinner .line::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  width: inherit;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: lines 2s ease-in 4s forwards;
          animation: lines 2s ease-in 4s forwards;
}

@-webkit-keyframes lines {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes lines {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.bill-dinner .nxt-appear-button-down {
  display: inline-block;
  opacity: 0;
  -webkit-animation: buttonDown 2s ease-in 4s forwards;
          animation: buttonDown 2s ease-in 4s forwards;
}

@-webkit-keyframes buttonDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes buttonDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium {
  background-image: url("../img/theme/stadium-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-stadium .heading-top {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70vw;
}

.main-stadium .center-boy {
  position: absolute;
  z-index: 3;
  width: clamp(200px, 30vw, 500px);
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: left 4s ease 6s forwards;
          animation: left 4s ease 6s forwards;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

.main-stadium .right-girl, .main-stadium .left-girl {
  position: absolute;
  z-index: 2;
  width: clamp(150px, 30vw, 350px);
  bottom: 0;
}

.main-stadium .right-girl {
  right: 15%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: down 4s ease 6s forwards;
          animation: down 4s ease 6s forwards;
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

.main-stadium .left-girl {
  left: 15%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: down 4s ease 6s forwards;
          animation: down 4s ease 6s forwards;
}

@keyframes down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

.main-stadium .left-boy, .main-stadium .right-boy {
  position: absolute;
  bottom: -5%;
  z-index: 2;
  width: clamp(200px, 30vw, 500px);
}

.main-stadium .left-boy {
  left: -5%;
}

.main-stadium .right-boy {
  right: -5%;
}

.main-stadium .televition {
  width: clamp(300px, 50vw, 580px);
  z-index: 2;
  position: absolute;
  height: clamp(200px, 25vw, 400px);
  bottom: 15%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadede 2s ease-in-out 7s forwards;
          animation: fadede 2s ease-in-out 7s forwards;
}

@-webkit-keyframes fadede {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadede {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .televition .text-up {
  position: absolute;
  z-index: 5;
  width: 70%;
  top: 10%;
  left: 8%;
  overflow: hidden;
  z-index: 10;
}

.main-stadium .televition .text-up .para-anim {
  font-family: 'Gabrwffr';
  line-height: clamp(10px, 2.5rem, 55px);
  color: azure;
  -webkit-transform: translateY(280px);
          transform: translateY(280px);
}

.main-stadium .televition .tv-1, .main-stadium .televition .tv-2, .main-stadium .televition .tv-3, .main-stadium .televition .tv-4 {
  width: 100%;
  position: absolute;
  opacity: 0;
}

.main-stadium .televition .tv-1 {
  opacity: 0;
  -webkit-animation: fadedeOne 2s ease-in-out 7s forwards;
          animation: fadedeOne 2s ease-in-out 7s forwards;
}

@-webkit-keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .televition .nxt-animation-2 {
  position: absolute;
  z-index: 11;
}

.main-stadium .televition .nxt-animation-2 .tv-5 {
  width: 100%;
  position: absolute;
  opacity: 0;
}

.main-stadium .televition .nxt-animation-1 {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
}

.main-stadium .televition .nxt-animation-1 .tv-2 {
  position: absolute;
  z-index: 8;
  opacity: 0;
  -webkit-animation: fadedeOne 2s ease-in-out 8s forwards;
          animation: fadedeOne 2s ease-in-out 8s forwards;
}

@keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .circle-1, .main-stadium .circle-2, .main-stadium .circle-3 {
  width: clamp(200px, 30vw, 500px);
  height: clamp(200px, 30vw, 500px);
  position: absolute;
  background-color: #25A595;
  border-radius: 50%;
}

.main-stadium .circle-1 {
  top: -5%;
  left: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-animation: big-1 5s ease 4s forwards;
          animation: big-1 5s ease 4s forwards;
}

@-webkit-keyframes big-1 {
  from {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes big-1 {
  from {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.main-stadium .circle-2 {
  top: -15%;
  right: 15%;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-animation: big-2 5s ease 4s forwards;
          animation: big-2 5s ease 4s forwards;
}

@-webkit-keyframes big-2 {
  from {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes big-2 {
  from {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.main-stadium .circle-3 {
  bottom: -15%;
  right: 5%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: big-3 5s ease 4s forwards;
          animation: big-3 5s ease 4s forwards;
}

@-webkit-keyframes big-3 {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes big-3 {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.main-stadium .stars {
  position: absolute;
  z-index: -1;
  width: clamp(200px, 45vw, 400px);
  bottom: 0;
  left: 40%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.main-stadium .para-animation {
  -webkit-transform: translateY(280px);
          transform: translateY(280px);
  -webkit-animation: fadeup 20s ease 6s forwards;
          animation: fadeup 20s ease 6s forwards;
}

@-webkit-keyframes fadeup {
  from {
    -webkit-transform: translateY(280px);
            transform: translateY(280px);
  }
  to {
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
}

@keyframes fadeup {
  from {
    -webkit-transform: translateY(280px);
            transform: translateY(280px);
  }
  to {
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
}

.main-stadium .tv-appear {
  opacity: 0;
  z-index: 9;
  -webkit-animation: fadedeOne 2s ease-in-out 2s forwards;
          animation: fadedeOne 2s ease-in-out 2s forwards;
}

@keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .tv-appear-2 {
  opacity: 0;
  z-index: 9;
  -webkit-animation: fadedeOne 2s ease-in-out 4s forwards;
          animation: fadedeOne 2s ease-in-out 4s forwards;
}

@keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .tv-appear-3 {
  opacity: 0;
  -webkit-animation: fadedeOne 2s ease-in-out 22s forwards;
          animation: fadedeOne 2s ease-in-out 22s forwards;
}

@keyframes fadedeOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-stadium .width-appear {
  width: 100%;
}

.letter {
  width: 100vw;
  height: 1000px;
  background-image: url("../img/theme/letter-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letter .cup {
  position: absolute;
  top: 0;
  left: 0;
  max-width: clamp(80px, 35vw, 340px);
}

.letter .book {
  position: absolute;
  top: 0;
  right: 0;
  max-width: clamp(80px, 35vw, 340px);
}

.letter .pen {
  position: absolute;
  bottom: 10%;
  right: 0;
  max-width: clamp(80px, 35vw, 700px);
  z-index: 1;
}

.letter .letter-page {
  position: relative;
  width: 50%;
  height: clamp(450px, 125vh, 900px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aliceblue;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}

.letter .letter-page p {
  font-family: 'Frank';
  font-size: clamp(10px, 5vw, 1.5rem);
  width: 100%;
  padding: 0 10%;
  line-height: clamp(10px, 5vw, 2.2rem);
}

.letter .letter-page .steeler, .letter .letter-page .seal {
  width: 50%;
  position: absolute;
  height: clamp(50px, 120vh, 250px);
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letter .letter-page .steeler .steeler-img, .letter .letter-page .seal .steeler-img {
  max-width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.letter .letter-page .steeler .img-appear, .letter .letter-page .seal .img-appear {
  opacity: 0;
  -webkit-animation: appear 1s ease-in 1s forwards;
          animation: appear 1s ease-in 1s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.letter .letter-page .steeler {
  left: 0;
}

.letter .letter-page .seal {
  right: 0;
}

.letter .letter-page .seal .apear-img-4 {
  position: absolute;
  max-width: 80%;
  z-index: 4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.letter .letter-page .seal .apear-img-3 {
  position: absolute;
  max-width: 150%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.letter .letter-page .seal .apear-img-2 {
  position: absolute;
  max-width: 80%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.letter .letter-page .seal .apear-img-1 {
  position: absolute;
  max-width: 80%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
}

.letter .letter-page .seal .img-appear-3 {
  opacity: 0;
  -webkit-animation: appear 1s ease-in 5s forwards;
          animation: appear 1s ease-in 5s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.letter .letter-page .seal .img-appear-2 {
  opacity: 0;
  -webkit-animation: appear 1s ease-in 5s forwards;
          animation: appear 1s ease-in 5s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.letter .letter-page .seal .img-appear-1 {
  opacity: 0;
  -webkit-animation: appear 1s ease-in 4s forwards;
          animation: appear 1s ease-in 4s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 452px) {
  .letter .letter-page {
    width: 80%;
  }
  .letter .letter-page p {
    font-family: 'Frank';
    font-size: clamp(10px, 5vw, 1.5rem);
    width: 100%;
    padding: 0 10%;
    line-height: 25px;
  }
}

.slide-img {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/theme/slide-two.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: relative;
}

.slide-img p {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50%;
  font-family: 'Caslon';
  font-size: 18px;
  line-height: 20px;
}

.slide-img a .nxt-page-click {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.slide-img .faded-appear {
  opacity: 0;
  -webkit-animation: appear-arrow 2s ease-in 2s forwards;
          animation: appear-arrow 2s ease-in 2s forwards;
}

@-webkit-keyframes appear-arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-img-appear {
  display: block;
}

@media screen and (max-width: 452px) {
  .slide-img p {
    width: 70%;
    font-size: 16px;
    line-height: 20px;
  }
}

.breaking-news {
  background-image: url("../img/theme/break-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  position: relative;
}

.breaking-news .new-break {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.breaking-news .player {
  position: absolute;
  bottom: -7px;
  left: -7px;
  width: clamp(170px, 35vw, 600px);
  opacity: 0;
  z-index: 5;
  -webkit-animation: player-appear 2s ease-in 4s forwards;
          animation: player-appear 2s ease-in 4s forwards;
}

@-webkit-keyframes player-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes player-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.breaking-news .player img {
  width: 100%;
}

.breaking-news .yellow-line {
  position: absolute;
  bottom: 7%;
  right: 0;
  z-index: 4;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: yellow;
  height: clamp(20px, 15vw, 90px);
  width: 66%;
  -webkit-animation: right-left 2s ease 5s forwards;
          animation: right-left 2s ease 5s forwards;
  overflow: hidden;
}

@-webkit-keyframes right-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.breaking-news .yellow-line .heading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade-in 2s ease 7s forwards;
          animation: fade-in 2s ease 7s forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.breaking-news .black-line {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #000;
  height: clamp(20px, 25vw, 60px);
  width: 66%;
  -webkit-animation: right-left 2s ease 5s forwards;
          animation: right-left 2s ease 5s forwards;
  overflow: hidden;
}

@keyframes right-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.breaking-news .black-line .para-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  color: #fff;
  width: 9000px;
  -webkit-transform: translate(500px, -50%);
          transform: translate(500px, -50%);
  -webkit-animation: move 100s ease 7s forwards;
          animation: move 100s ease 7s forwards;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(500px, -50%);
            transform: translate(500px, -50%);
  }
  to {
    -webkit-transform: translate(-6500px, -50%);
            transform: translate(-6500px, -50%);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(500px, -50%);
            transform: translate(500px, -50%);
  }
  to {
    -webkit-transform: translate(-6500px, -50%);
            transform: translate(-6500px, -50%);
  }
}

.breaking-news-appear {
  display: block;
}

@media screen and (max-width: 452px) {
  .breaking-news .yellow-line .heading-1 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */